<a href="https://colab.research.google.com/github/shubhamgundawarNYU/Big-Data-Project-Group-16/blob/main/misc-datasets-notebooks/NYPD_Shooting_Incident_Data_(Year_To_Date).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**BIG DATA PROJECT**

### NYPD Shooting Incident Data (Year To Date)
Link to Dataset (https://data.cityofnewyork.us/Public-Safety/NYPD-Shooting-Incident-Data-Year-To-Date-/5ucz-vwe8)

### DATA CLEANING AT SCALE

#### Mounting Google Drive to Google Collab Notebook to Load the Data Set

Make sure you have the dataset in your Google Drive and you mount your drive to the Colab.

The file should be at the following path: `gdrive/My Drive/NYPD_Complaint_Data_Historic.csv`

In [ ]:
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

#### Importing required and Necessary Libraries for cleaning the data present in the data set

In [ ]:
import numpy as np
import pandas as pd
import io

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 36 kB/s
Collecting py4j==0.10.9.2
  Downloading py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 47.3 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805912 sha256=19f12757fc5024a75592f5909a085d474dc245fb4a302dd5467292b7b82d3725
  Stored in directory: /root/.cache/pip/wheels/0b/de/d2/9be5d59d7331c6c2a7c1b6d1a4f463ce107332b1ecd4e80718
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.2 pyspark-3.2.0


# **Running Pyspark in Colab**

To run spark in Colab, we need to first install all the dependencies in Colab environment i.e. Apache Spark 2.3.2 with hadoop 2.7, Java 8 and Findspark to locate the spark in the system. The tools installation can be carried out inside the Jupyter Notebook of the Colab. One important note is that if you are new in Spark, it is better to avoid Spark 2.4.0 version since some people have already complained about its compatibility issue with python. 
Follow the steps to install the dependencies:

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://dlcdn.apache.org/spark/spark-3.2.0/spark-3.2.0-bin-hadoop3.2.tgz
!tar xf spark-3.2.0-bin-hadoop3.2.tgz
!pip install -q findspark

Now that you installed Spark and Java in Colab, it is time to set the environment path which enables you to run Pyspark in your Colab environment. Set the location of Java and Spark by running the following code:

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.2.0-bin-hadoop3.2"

Run a local spark session to test your installation:

In [ ]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
spark = SparkSession.builder.getOrCreate()

#### Reading the Data Set CSV File using `spark.read.csv()` Function

In [ ]:
df = spark.read.csv("/content/gdrive/MyDrive/Big Data/NYPD_Shooting_Incident_Data__Year_To_Date_.csv", inferSchema=True, header =True)

In [ ]:
df.count()

1531

#### Get Data Type for each column present in the Data Set

In [ ]:
df.printSchema()

root
 |-- INCIDENT_KEY: integer (nullable = true)
 |-- OCCUR_DATE: string (nullable = true)
 |-- OCCUR_TIME: string (nullable = true)
 |-- BORO: string (nullable = true)
 |-- PRECINCT: integer (nullable = true)
 |-- JURISDICTION_CODE: integer (nullable = true)
 |-- LOCATION_DESC: string (nullable = true)
 |-- STATISTICAL_MURDER_FLAG: boolean (nullable = true)
 |-- PERP_AGE_GROUP: string (nullable = true)
 |-- PERP_SEX: string (nullable = true)
 |-- PERP_RACE: string (nullable = true)
 |-- VIC_AGE_GROUP: string (nullable = true)
 |-- VIC_SEX: string (nullable = true)
 |-- VIC_RACE: string (nullable = true)
 |-- X_COORD_CD: integer (nullable = true)
 |-- Y_COORD_CD: integer (nullable = true)
 |-- Latitude: double (nullable = true)
 |-- Longitude: double (nullable = true)
 |-- New Georeferenced Column: string (nullable = true)

#### Outputing the List of Columns in the Data Set

In [ ]:
df.columns

['INCIDENT_KEY',
 'OCCUR_DATE',
 'OCCUR_TIME',
 'BORO',
 'PRECINCT',
 'JURISDICTION_CODE',
 'LOCATION_DESC',
 'STATISTICAL_MURDER_FLAG',
 'PERP_AGE_GROUP',
 'PERP_SEX',
 'PERP_RACE',
 'VIC_AGE_GROUP',
 'VIC_SEX',
 'VIC_RACE',
 'X_COORD_CD',
 'Y_COORD_CD',
 'Latitude',
 'Longitude',
 'New Georeferenced Column']

#### Get top 10 rows of the complaints dataframe

In [ ]:
df.show(n=10)

+------------+----------+----------+---------+--------+-----------------+--------------------+-----------------------+--------------+--------+--------------+-------------+-------+--------------+----------+----------+------------------+------------------+------------------------+
|INCIDENT_KEY|OCCUR_DATE|OCCUR_TIME|     BORO|PRECINCT|JURISDICTION_CODE|       LOCATION_DESC|STATISTICAL_MURDER_FLAG|PERP_AGE_GROUP|PERP_SEX|     PERP_RACE|VIC_AGE_GROUP|VIC_SEX|      VIC_RACE|X_COORD_CD|Y_COORD_CD|          Latitude|         Longitude|New Georeferenced Column|
+------------+----------+----------+---------+--------+-----------------+--------------------+-----------------------+--------------+--------+--------------+-------------+-------+--------------+----------+----------+------------------+------------------+------------------------+
|   230162224|06/27/2021|  04:34:00| BROOKLYN|      75|                0|                null|                  false|          null|    null|          null|          <18|      M|         BLACK|   1014210|    182758|40.668262749000064|-73.89200350499993|    POINT (-73.892003...|
|   228561932|05/21/2021|  21:06:00| BROOKLYN|      77|                0|                null|                  false|           <18|       M|         BLACK|        25-44|      F|         WHITE|    994341|    185941|40.677044310000035|-73.96362125499998|    POINT (-73.963621...|
|   233790860|09/18/2021|  23:17:00|    BRONX|      44|                0|                null|                   true|          null|    null|          null|        18-24|      M|BLACK HISPANIC|   1010270|    246284| 40.84263777600006|-73.90596032999997|    POINT (-73.905960...|
|   225295736|03/07/2021|  06:15:00| BROOKLYN|      75|                0|                null|                  false|         25-44|       M|WHITE HISPANIC|        25-44|      F|WHITE HISPANIC|   1020492|    187865| 40.68225681500007|-73.86933111399996|    POINT (-73.869331...|
|   227647465|05/01/2021|  00:22:00|    BRONX|      46|                0|                null|                  false|         25-44|       M|         BLACK|        25-44|      M|         BLACK|   1011829|    249524| 40.85152588600005|-73.90031249299993|    POINT (-73.900312...|
|   222848394|01/08/2021|  05:50:00|MANHATTAN|      23|                2|MULTI DWELL - PUB...|                  false|         25-44|       M|WHITE HISPANIC|        25-44|      M|WHITE HISPANIC|    998481|    225704| 40.78617829400008|-73.94861158899994|    POINT (-73.948611...|
|   229034592|06/02/2021|  14:30:00|    BRONX|      48|                0|                null|                  false|          null|    null|          null|        25-44|      M|WHITE HISPANIC|   1014004|    247798| 40.84678146700002|-73.89245825499995|    POINT (-73.892458...|
|   225168411|03/04/2021|  11:40:00|    BRONX|      49|                0|                null|                  false|         25-44|       M|BLACK HISPANIC|        25-44|      M|BLACK HISPANIC|   1021657|    251013| 40.85557657700008|-73.86477926499998|    POINT (-73.864779...|
|   224173086|02/09/2021|  19:50:00|   QUEENS|     113|                0|           PVT HOUSE|                  false|          null|    null|          null|        25-44|      M|         BLACK|   1052651|    193294|40.696968027000025|-73.75332736499998|    POINT (-73.753327...|
|   230232277|06/29/2021|  15:32:00|MANHATTAN|      34|                0|            HOSPITAL|                  false|          null|    null|          null|        18-24|      M|         BLACK|   1008527|    257284|40.872834434000026|-73.91222001499993|    POINT (-73.912220...|
+------------+----------+----------+---------+--------+-----------------+--------------------+-----------------------+--------------+--------+--------------+-------------+-------+--------------+----------+----------+------------------+------------------+------------------------+
only showing top 10 rows

## We see that the columns `X_COORD_CD`,`Y_COORD_CD`,`Latitude` and `Longitude` conveys the same data as `LatLon`.

#### Hence, we drop those columns and keep only `LatLon` column in our cleaned dataset.

In [ ]:
df = df.drop('X_COORD_CD','Y_COORD_CD','Latitude','Longitude')

In [ ]:
df.columns

['INCIDENT_KEY',
 'OCCUR_DATE',
 'OCCUR_TIME',
 'BORO',
 'PRECINCT',
 'JURISDICTION_CODE',
 'LOCATION_DESC',
 'STATISTICAL_MURDER_FLAG',
 'PERP_AGE_GROUP',
 'PERP_SEX',
 'PERP_RACE',
 'VIC_AGE_GROUP',
 'VIC_SEX',
 'VIC_RACE',
 'New Georeferenced Column']

#### Removing all the **duplicate** entries

In [ ]:
df = df.drop_duplicates()

In [ ]:
df.count()

1531

In [ ]:
df.distinct().count()

1531

#### **Checking** if the complaint number is unique or not

In [ ]:
df.select('INCIDENT_KEY').distinct().count()

1195

#### As we can see `CMPLNT_NUM` should have been unique, but it is not.
#### Let's see what are the duplicate values.

In [ ]:
df1 = df.groupBy('INCIDENT_KEY').count().filter("count > 1")
df1.drop('count').count()

180

In [ ]:
df1.sort('INCIDENT_KEY').show(n = 10)

+------------+-----+
|INCIDENT_KEY|count|
+------------+-----+
|   222524733|    2|
|   222539215|    2|
|   222560300|    2|
|   222563766|    4|
|   222932692|    8|
|   223198985|    4|
|   223201958|    2|
|   223505522|    2|
|   223786434|    2|
|   223827862|    2|
+------------+-----+
only showing top 10 rows

#### Check for complaint number `100509703`

In [ ]:
df.filter('INCIDENT_KEY = 223786434').show()

+------------+----------+----------+---------+--------+-----------------+-------------+-----------------------+--------------+--------+--------------+-------------+-------+--------------+------------------------+
|INCIDENT_KEY|OCCUR_DATE|OCCUR_TIME|     BORO|PRECINCT|JURISDICTION_CODE|LOCATION_DESC|STATISTICAL_MURDER_FLAG|PERP_AGE_GROUP|PERP_SEX|     PERP_RACE|VIC_AGE_GROUP|VIC_SEX|      VIC_RACE|New Georeferenced Column|
+------------+----------+----------+---------+--------+-----------------+-------------+-----------------------+--------------+--------+--------------+-------------+-------+--------------+------------------------+
|   223786434|01/31/2021|  07:30:00|MANHATTAN|      34|                0|         null|                  false|           <18|       M|BLACK HISPANIC|        25-44|      M|WHITE HISPANIC|    POINT (-73.921487...|
|   223786434|01/31/2021|  07:30:00|MANHATTAN|      34|                0|         null|                  false|         18-24|       M|WHITE HISPANIC|        25-44|      M|WHITE HISPANIC|    POINT (-73.921487...|
+------------+----------+----------+---------+--------+-----------------+-------------+-----------------------+--------------+--------+--------------+-------------+-------+--------------+------------------------+

#### We understand, that complaint number is not specifically unique. The dataset has rows with duplicated complaint numbers having unique information for all other columns. Thus, we cannot drop the entries with duplicated complaint numbers.

## Find Count of Null, None, NaN of All DataFrame Columns

In [ ]:
df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df.columns]
   ).show()

#### Get top 5 rows where OCCUR_DATE is NaN

In [ ]:
df.where(col('OCCUR_DATE').isNull()).show(n=5)

+------------+----------+----------+----+--------+-----------------+-------------+-----------------------+--------------+--------+---------+-------------+-------+--------+------------------------+
|INCIDENT_KEY|OCCUR_DATE|OCCUR_TIME|BORO|PRECINCT|JURISDICTION_CODE|LOCATION_DESC|STATISTICAL_MURDER_FLAG|PERP_AGE_GROUP|PERP_SEX|PERP_RACE|VIC_AGE_GROUP|VIC_SEX|VIC_RACE|New Georeferenced Column|
+------------+----------+----------+----+--------+-----------------+-------------+-----------------------+--------------+--------+---------+-------------+-------+--------+------------------------+
+------------+----------+----------+----+--------+-----------------+-------------+-----------------------+--------------+--------+---------+-------------+-------+--------+------------------------+

### Get rows where either complaint from date or complaint from time is null

1. There maybe null values in the CMPLNT_TO_DT, CMPLNT_TO_TM, LOC_OF_OCCUR_DESC, PREM_TYP_DESC, PARKS_NM and HADEVELOPT columns. 

2. LOC_OF_OCCUR_DESC, PREM_TYP_DESC, PARKS_NM and HADEVELOPT need not be present for all the fields so cannot be used to eliminate records.

3. However, complaint from date and complaint from time columns cannot have null values. We drop the rows where either complaint from date or complaint from time is null.

In [ ]:
df.drop(df.OCCUR_DATE.isNull() | df.OCCUR_TIME.isNull())

DataFrame[INCIDENT_KEY: int, OCCUR_DATE: string, OCCUR_TIME: string, BORO: string, PRECINCT: int, JURISDICTION_CODE: int, LOCATION_DESC: string, STATISTICAL_MURDER_FLAG: boolean, PERP_AGE_GROUP: string, PERP_SEX: string, PERP_RACE: string, VIC_AGE_GROUP: string, VIC_SEX: string, VIC_RACE: string, New Georeferenced Column: string]

In [ ]:
df = df.filter(df.OCCUR_DATE.isNotNull() | df.OCCUR_TIME.isNotNull())

In [ ]:
df.show(100)

+------------+----------+----------+-------------+--------+-----------------+--------------------+-----------------------+--------------+--------+--------------------+-------------+-------+--------------------+------------------------+
|INCIDENT_KEY|OCCUR_DATE|OCCUR_TIME|         BORO|PRECINCT|JURISDICTION_CODE|       LOCATION_DESC|STATISTICAL_MURDER_FLAG|PERP_AGE_GROUP|PERP_SEX|           PERP_RACE|VIC_AGE_GROUP|VIC_SEX|            VIC_RACE|New Georeferenced Column|
+------------+----------+----------+-------------+--------+-----------------+--------------------+-----------------------+--------------+--------+--------------------+-------------+-------+--------------------+------------------------+
|   227221494|04/21/2021|  17:14:00|       QUEENS|     105|                0|                null|                  false|          null|    null|                null|        18-24|      M|               BLACK|    POINT (-73.748024...|
|   225285872|03/07/2021|  06:05:00|     BROOKLYN|      73|                0|MULTI DWELL - APT...|                  false|          null|    null|                null|        25-44|      M|      WHITE HISPANIC|    POINT (-73.906190...|
|   233172869|09/05/2021|  04:20:00|        BRONX|      47|                0|                null|                  false|          null|    null|                null|        45-64|      M|               BLACK|    POINT (-73.848764...|
|   228307361|05/17/2021|  16:47:00|        BRONX|      42|                0|                null|                  false|           <18|       M|               BLACK|          65+|      M|      BLACK HISPANIC|    POINT (-73.886392...|
|   223198985|01/16/2021|  12:39:00|    MANHATTAN|      32|                0|MULTI DWELL - APT...|                  false|         18-24|       M|               BLACK|        25-44|      M|               BLACK|    POINT (-73.940100...|
|   230162225|06/27/2021|  05:40:00|    MANHATTAN|      32|                0|                null|                  false|          null|    null|                null|        25-44|      M|               BLACK|    POINT (-73.939605...|
|   231941628|08/07/2021|  23:16:00|        BRONX|      44|                0|                null|                   true|         25-44|       M|               BLACK|        25-44|      M|               BLACK|    POINT (-73.926716...|
|   232291899|08/14/2021|  04:11:00|        BRONX|      46|                0|                null|                  false|          null|    null|                null|        25-44|      M|               BLACK|    POINT (-73.912359...|
|   231325837|07/24/2021|  21:57:00|     BROOKLYN|      67|                0|   BEAUTY/NAIL SALON|                  false|         18-24|       F|               BLACK|        45-64|      M|               BLACK|    POINT (-73.942512...|
|   223872338|02/02/2021|  11:07:00|     BROOKLYN|      77|                0|MULTI DWELL - APT...|                   true|          null|    null|                null|          65+|      M|               BLACK|    POINT (-73.951386...|
|   227127702|04/19/2021|  19:25:00|       QUEENS|     103|                0|      GROCERY/BODEGA|                  false|         18-24|       M|ASIAN / PACIFIC I...|        25-44|      M|      WHITE HISPANIC|    POINT (-73.776655...|
|   232887623|08/27/2021|  01:50:00|    MANHATTAN|      34|                0|                null|                  false|          null|    null|                null|        25-44|      M|               BLACK|    POINT (-73.916815...|
|   226495968|04/04/2021|  07:13:00|    MANHATTAN|      34|                0|                null|                  false|          null|    null|                null|        25-44|      M|      WHITE HISPANIC|    POINT (-73.918944...|
|   222990833|01/12/2021|  22:12:00|     BROOKLYN|      69|                0|                null|                  false|         18-24|       M|               BLACK|        18-24|      M|               BLACK|    POINT (-73.897920...|
|   233253334|09/07/2021|  15:00:00|     BROOKLYN|      76|                2|MULTI DWELL - PUB...|                  false|          null|    null|                null|        25-44|      M|               BLACK|    POINT (-74.002622...|
|   234070580|09/25/2021|  22:15:00|     BROOKLYN|      76|                2|MULTI DWELL - PUB...|                  false|          null|    null|                null|        18-24|      M|               BLACK|    POINT (-73.986332...|
|   227950643|05/06/2021|  10:16:00|     BROOKLYN|      81|                0|      GROCERY/BODEGA|                  false|         25-44|       M|               BLACK|        25-44|      M|      WHITE HISPANIC|    POINT (-73.930543...|
|   230508669|07/06/2021|  11:48:00|        BRONX|      40|                0|                null|                  false|          null|    null|                null|          <18|      M|      BLACK HISPANIC|    POINT (-73.918050...|
|   224950991|02/26/2021|  22:25:00|     BROOKLYN|      73|                0|MULTI DWELL - APT...|                  false|          null|    null|                null|        18-24|      M|ASIAN / PACIFIC I...|    POINT (-73.918074...|
|   232592200|08/21/2021|  06:17:00|        BRONX|      42|                0|                null|                  false|          null|    null|                null|        25-44|      M|               BLACK|    POINT (-73.886248...|
|   230815780|07/14/2021|  02:11:00|       QUEENS|     103|                0|                null|                  false|         25-44|       M|               BLACK|        25-44|      M|               BLACK|    POINT (-73.811581...|
|   231633081|07/30/2021|  23:02:00|STATEN ISLAND|     121|                0|           PVT HOUSE|                  false|         25-44|       M|               BLACK|          <18|      M|               BLACK|    POINT (-74.160468...|
|   225909568|03/20/2021|  00:19:00|    MANHATTAN|      34|                0|                null|                  false|          null|    null|                null|        25-44|      M|      WHITE HISPANIC|    POINT (-73.926571...|
|   228307052|05/17/2021|  00:43:00|     BROOKLYN|      67|                0|                null|                   true|         25-44|       M|               BLACK|        25-44|      M|               BLACK|    POINT (-73.917230...|
|   231512062|07/28/2021|  13:10:00|       QUEENS|     101|                0|                null|                  false|          null|    null|                null|        25-44|      M|               WHITE|    POINT (-73.751170...|
|   225725570|03/16/2021|  03:53:00|        BRONX|      46|                0|                null|                  false|         25-44|       M|      WHITE HISPANIC|        45-64|      M|               BLACK|    POINT (-73.904024...|
|   226204063|03/27/2021|  19:30:00|    MANHATTAN|       7|                0|                null|                  false|           <18|       M|               BLACK|          <18|      M|      WHITE HISPANIC|    POINT (-73.978909...|
|   232623736|08/23/2021|  17:40:00|    MANHATTAN|      14|                0|                null|                  false|         25-44|       M|               BLACK|        45-64|      M|               WHITE|    POINT (-73.992007...|
|   227730192|05/04/2021|  15:00:00|        BRONX|      41|                0|                null|                  false|          null|    null|                null|        18-24|      M|      WHITE HISPANIC|    POINT (-73.895873...|
|   223928178|02/03/2021|  21:45:00|        BRONX|      40|                2|MULTI DWELL - PUB...|                   true|         18-24|       M|               BLACK|        25-44|      M|               BLACK|    POINT (-73.916477...|
|   229164957|06/06/2021|  01:53:00|        BRONX|      44|                0|                null|                  false|         45-64|       M|      WHITE HISPANIC|        25-44|      M|               BLACK|    POINT (-73.916431...|
|   229493100|06/11/2021|  16:29:00|     BROOKLYN|      72|                0|                null|                  false|           <18|       M|      WHITE HISPANIC|        18-24|      M|      WHITE HISPANIC|    POINT (-74.006887...|
|   229643172|06/16/2021|  23:22:00|        BRONX|      52|                0|                null|                   true|         18-24|       M|      WHITE HISPANIC|        25-44|      M|               BLACK|    POINT (-73.891313...|
|   225601140|03/13/2021|  03:50:00|     BROOKLYN|      90|                0|      BAR/NIGHT CLUB|                  false|         18-24|       M|      BLACK HISPANIC|        18-24|      F|      WHITE HISPANIC|    POINT (-73.936161...|
|   228679850|05/25/2021|  20:20:00|        BRONX|      42|                0|                null|                  false|         18-24|       M|      BLACK HISPANIC|        18-24|      M|      WHITE HISPANIC|    POINT (-73.893376...|
|   231631686|07/31/2021|  22:40:00|     BROOKLYN|      75|                0|                null|                  false|         25-44|       M|               BLACK|        25-44|      M|      WHITE HISPANIC|    POINT (-73.871603...|
|   230805643|07/13/2021|  20:00:00|     BROOKLYN|      75|                0|                null|                  false|          null|    null|                null|        18-24|      M|               BLACK|    POINT (-73.876567...|
|   228049709|05/11/2021|  16:54:00|     BROOKLYN|      77|                0|                null|                  false|         18-24|       M|               BLACK|          <18|      M|               BLACK|    POINT (-73.923691...|
|   230713945|07/10/2021|  08:54:00|        BRONX|      40|                0|                null|                  false|         18-24|       M|               BLACK|          <18|      M|               BLACK|    POINT (-73.909330...|
|   233897874|09/22/2021|  03:30:00|        BRONX|      46|                0|                null|                  false|          null|    null|                null|        18-24|      M|               BLACK|    POINT (-73.900576...|
|   232444800|08/18/2021|  20:21:00|     BROOKLYN|      77|                2|MULTI DWELL - PUB...|                   true|          null|    null|                null|          <18|      M|               BLACK|    POINT (-73.926713...|
|   224353207|02/13/2021|  02:18:00|        BRONX|      50|                0|                null|                  false|          null|    null|                null|        18-24|      M|      WHITE HISPANIC|    POINT (-73.902889...|
|   231965179|08/08/2021|  00:30:00|     BROOKLYN|      75|                0|                null|                   true|          null|    null|                null|        45-64|      M|               BLACK|    POINT (-73.888780...|
|   232924796|08/30/2021|  17:37:00|        BRONX|      41|                0|                null|                  false|          null|    null|                null|        18-24|      M|               BLACK|    POINT (-73.889681...|
|   226542152|04/05/2021|  22:10:00|        BRONX|      44|                2|MULTI DWELL - PUB...|                  false|          null|    null|                null|        25-44|      F|               BLACK|    POINT (-73.928667...|
|   233080845|09/02/2021|  17:42:00|        BRONX|      41|                0|                null|                  false|         18-24|       M|               BLACK|        18-24|      M|               BLACK|    POINT (-73.890330...|
|   232946699|08/31/2021|  00:40:00|       QUEENS|     101|                0|                null|                  false|          null|    null|                null|        25-44|      M|               BLACK|    POINT (-73.750117...|
|   227730194|05/04/2021|  23:38:00|        BRONX|      44|                0|                null|                  false|          null|    null|                null|          <18|      M|               BLACK|    POINT (-73.918309...|
|   228798149|05/27/2021|  15:09:00|    MANHATTAN|      23|                0|                null|                  false|           <18|       M|      BLACK HISPANIC|          <18|      M|      BLACK HISPANIC|    POINT (-73.942210...|
|   230412254|07/03/2021|  22:03:00|    MANHATTAN|      23|                0|                null|                  false|          null|    null|                null|        18-24|      M|               BLACK|    POINT (-73.947646...|
|   224969506|02/26/2021|  00:46:00|       QUEENS|     102|                0|                null|                   true|          null|    null|                null|        25-44|      M|               BLACK|    POINT (-73.855294...|
|   231390983|07/26/2021|  20:15:00|     BROOKLYN|      79|                0|                null|                  false|          null|    null|                null|        25-44|      M|               BLACK|    POINT (-73.948674...|
|   229034050|06/02/2021|  04:30:00|       QUEENS|     113|                0|                null|                  false|          null|    null|                null|        25-44|      M|               BLACK|    POINT (-73.758981...|
|   230562012|07/07/2021|  16:20:00|       QUEENS|     110|                0|                null|                   true|         18-24|       M|               WHITE|          <18|      M|      WHITE HISPANIC|    POINT (-73.869605...|
|   232264784|08/13/2021|  15:50:00|     BROOKLYN|      83|                0|                null|                  false|          null|    null|                null|        25-44|      M|      WHITE HISPANIC|    POINT (-73.907324...|
|   224119135|02/08/2021|  14:39:00|     BROOKLYN|      67|                0|MULTI DWELL - APT...|                  false|          null|    null|                null|        25-44|      M|               BLACK|    POINT (-73.943903...|
|   230162216|06/25/2021|  14:33:00|        BRONX|      46|                0|                null|                  false|         25-44|       M|      BLACK HISPANIC|        25-44|      M|      WHITE HISPANIC|    POINT (-73.902377...|
|   222890075|01/10/2021|  19:46:00|     BROOKLYN|      75|                2|MULTI DWELL - PUB...|                   true|          null|    null|                null|          <18|      M|               BLACK|    POINT (-73.886184...|
|   224520344|02/17/2021|  17:15:00|     BROOKLYN|      67|                0|                null|                  false|         18-24|       M|               BLACK|        25-44|      M|               BLACK|    POINT (-73.925952...|
|   228559113|05/22/2021|  23:48:00|        BRONX|      42|                0|                null|                  false|          null|    null|                null|        18-24|      M|      BLACK HISPANIC|    POINT (-73.904162...|
|   233468972|09/13/2021|  00:35:00|    MANHATTAN|      32|                0|                null|                   true|          null|    null|                null|        18-24|      M|               BLACK|    POINT (-73.938154...|
|   225621192|03/14/2021|  19:00:00|        BRONX|      47|                0|MULTI DWELL - APT...|                  false|          null|    null|                null|          <18|      M|               BLACK|    POINT (-73.866141...|
|   227730193|05/04/2021|  21:13:00|     BROOKLYN|      73|                0|                null|                  false|          null|    null|                null|        25-44|      M|               BLACK|    POINT (-73.910944...|
|   227551204|04/29/2021|  19:30:00|     BROOKLYN|      90|                0|    RESTAURANT/DINER|                  false|         18-24|       M|               BLACK|        25-44|      M|               WHITE|    POINT (-73.961753...|
|   230196723|06/28/2021|  22:01:00|        BRONX|      52|                0|                null|                  false|          null|    null|                null|        25-44|      M|               BLACK|    POINT (-73.878781...|
|   225934384|03/15/2021|  18:20:00|        BRONX|      46|                0|                null|                  false|           <18|       M|      WHITE HISPANIC|        18-24|      M|               BLACK|    POINT (-73.921411...|
|   228062046|05/12/2021|  04:53:00|        BRONX|      46|                0|MULTI DWELL - APT...|                  false|          null|    null|                null|        45-64|      M|               BLACK|    POINT (-73.917195...|
|   234143776|09/27/2021|  03:50:00|    MANHATTAN|      34|                0|                null|                  false|         25-44|       M|      BLACK HISPANIC|        25-44|      M|      BLACK HISPANIC|    POINT (-73.916815...|
|   231436704|07/26/2021|  20:38:00|    MANHATTAN|      30|                0|                null|                  false|          null|    null|                null|        45-64|      F|      BLACK HISPANIC|    POINT (-73.944838...|
|   232632360|08/23/2021|  22:25:00|        BRONX|      40|                0|                null|                   true|         25-44|       M|ASIAN / PACIFIC I...|        25-44|      M|               BLACK|    POINT (-73.915014...|
|   232497425|08/19/2021|  13:49:00|     BROOKLYN|      69|                0|                null|                  false|         25-44|       M|               BLACK|        18-24|      M|               BLACK|    POINT (-73.888137...|
|   227401020|04/27/2021|  00:40:00|    MANHATTAN|      28|                0|                null|                  false|          null|    null|                null|        45-64|      M|               BLACK|    POINT (-73.951844...|
|   233307769|09/08/2021|  23:48:00|        BRONX|      46|                0|                null|                  false|         25-44|       M|      BLACK HISPANIC|        18-24|      M|               BLACK|    POINT (-73.900591...|
|   231965060|08/07/2021|  23:18:00|     BROOKLYN|      75|                0|                null|                  false|         18-24|       M|               BLACK|        25-44|      M|               BLACK|    POINT (-73.893465...|
|   230448650|07/04/2021|  18:20:00|        BRONX|      41|                0|                null|                  false|          null|    null|                null|        25-44|      M|               BLACK|    POINT (-73.888855...|
|   232264785|08/13/2021|  16:10:00|        BRONX|      44|                0|                null|                  false|          null|    null|                null|        25-44|      M|               BLACK|    POINT (-73.919457...|
|   231351984|07/24/2021|  02:46:00|       QUEENS|     103|                0|                null|                   true|         18-24|       M|      WHITE HISPANIC|        18-24|      M|      BLACK HISPANIC|    POINT (-73.801603...|
|   226654026|04/07/2021|  02:07:00|    MANHATTAN|      14|                0|                null|                  false|         18-24|       M|               BLACK|        25-44|      M|               WHITE|    POINT (-73.991634...|
|   227174349|04/20/2021|  22:53:00|    MANHATTAN|      26|                0|                null|                  false|          null|    null|                null|        25-44|      M|               BLACK|    POINT (-73.956284...|
|   233429422|09/11/2021|  15:13:00|     BROOKLYN|      73|                0|                null|                  false|          null|    null|                null|        25-44|      M|               BLACK|    POINT (-73.920247...|
|   226542152|04/05/2021|  22:10:00|        BRONX|      44|                2|MULTI DWELL - PUB...|                  false|          null|    null|                null|        45-64|      M|               BLACK|    POINT (-73.928667...|

Check if minimum and maximum values of date and time are valid or not. The value of time cannot be 24:00:00.

In [ ]:
## Minimum value of the column in pyspark
df.agg({'OCCUR_TIME': 'min'}).show()

+---------------+
|min(OCCUR_TIME)|
+---------------+
|       00:00:00|
+---------------+

In [ ]:
## Maximum value of the column in pyspark
df.agg({'OCCUR_TIME': 'max'}).show()

+---------------+
|max(OCCUR_TIME)|
+---------------+
|       23:57:00|
+---------------+

In [ ]:
df.agg({'OCCUR_DATE': 'min'}).show()

+---------------+
|min(OCCUR_DATE)|
+---------------+
|     01/01/2021|
+---------------+

In [ ]:
df.agg({'OCCUR_DATE': 'max'}).show()

+---------------+
|max(OCCUR_DATE)|
+---------------+
|     09/30/2021|
+---------------+

**Some basic data quality checks are as below:**
1. Check if there are no garbage values in the location of occurence description column. The valid values that this column should ideally contain are: 'FRONT OF', 'REAR OF', 'OUTSIDE', 'INSIDE', 'OPPOSITE OF'
2. Check if there are no garbage values in law category column. The valid values are: 'FELONY', 'VIOLATION', 'MISDEMEANOR'
3. Check if there are no misspellings in Borough Name. There should be 5 distinct boroughs: Manhattan, Bronx, Queens, Brooklyn, Staten Island. We implement unique method, in case of misspellings multiple values of the same borough would be returned.
4. Check if 'CRM_ATPT_CPTD_CD' column has no garbage value. The only acceptable values are Completed or Attempted.
5. Ideally, key code should contain only 3 digits. Implementing a check below to see if there are any invalid values for the key code.

In [ ]:
df.select('LOCATION_DESC').distinct().show()

+--------------------+
|       LOCATION_DESC|
+--------------------+
|     COMMERCIAL BLDG|
|            HOSPITAL|
|           FAST FOOD|
|                null|
|                BANK|
|      GROCERY/BODEGA|
|         GAS STATION|
|MULTI DWELL - PUB...|
|          DEPT STORE|
|         HOTEL/MOTEL|
|    RESTAURANT/DINER|
|           PVT HOUSE|
|      BAR/NIGHT CLUB|
|MULTI DWELL - APT...|
|   BEAUTY/NAIL SALON|
+--------------------+

### Checks for Borough Name

In [ ]:
df.select('BORO').distinct().show()

+-------------+
|         BORO|
+-------------+
|       QUEENS|
|     BROOKLYN|
|        BRONX|
|    MANHATTAN|
|STATEN ISLAND|
+-------------+

We can see there are no misspellings for the Borough names and thus no need for additional data correction for the same.

In [ ]:
df.where(col('BORO').isNull()).show()

+------------+----------+----------+----+--------+-----------------+-------------+-----------------------+--------------+--------+---------+-------------+-------+--------+------------------------+
|INCIDENT_KEY|OCCUR_DATE|OCCUR_TIME|BORO|PRECINCT|JURISDICTION_CODE|LOCATION_DESC|STATISTICAL_MURDER_FLAG|PERP_AGE_GROUP|PERP_SEX|PERP_RACE|VIC_AGE_GROUP|VIC_SEX|VIC_RACE|New Georeferenced Column|
+------------+----------+----------+----+--------+-----------------+-------------+-----------------------+--------------+--------+---------+-------------+-------+--------+------------------------+
+------------+----------+----------+----+--------+-----------------+-------------+-----------------------+--------------+--------+---------+-------------+-------+--------+------------------------+

#### Dropping Rows where Borough Name is NULL

In [ ]:
df = df.filter(df.BORO.isNotNull())

In [ ]:
df.count()

1531

In [ ]:
df.filter(df.BORO.isNull()).show()

+------------+----------+----------+----+--------+-----------------+-------------+-----------------------+--------------+--------+---------+-------------+-------+--------+------------------------+
|INCIDENT_KEY|OCCUR_DATE|OCCUR_TIME|BORO|PRECINCT|JURISDICTION_CODE|LOCATION_DESC|STATISTICAL_MURDER_FLAG|PERP_AGE_GROUP|PERP_SEX|PERP_RACE|VIC_AGE_GROUP|VIC_SEX|VIC_RACE|New Georeferenced Column|
+------------+----------+----------+----+--------+-----------------+-------------+-----------------------+--------------+--------+---------+-------------+-------+--------+------------------------+
+------------+----------+----------+----+--------+-----------------+-------------+-----------------------+--------------+--------+---------+-------------+-------+--------+------------------------+

## Defining checks for outliers in age group

In [ ]:
df.select('PERP_AGE_GROUP').distinct().show()

+--------------+
|PERP_AGE_GROUP|
+--------------+
|           <18|
|         25-44|
|          null|
|           65+|
|         18-24|
|         45-64|
+--------------+

#### There are many invalid age groups like negative values, unrealistically high age groups, etc.

#### Lets find all the invalid age groups and replace them with `NaN`

In [ ]:
valid_age_groups = ['<18','18-24','25-44','45-64','65+',np.NaN]
df = df.withColumn('PERP_AGE_GROUP', when(df.PERP_AGE_GROUP.isin(valid_age_groups), df.PERP_AGE_GROUP).otherwise(np.NaN))
df.show()

+------------+----------+----------+---------+--------+-----------------+--------------------+-----------------------+--------------+--------+--------------------+-------------+-------+--------------------+------------------------+
|INCIDENT_KEY|OCCUR_DATE|OCCUR_TIME|     BORO|PRECINCT|JURISDICTION_CODE|       LOCATION_DESC|STATISTICAL_MURDER_FLAG|PERP_AGE_GROUP|PERP_SEX|           PERP_RACE|VIC_AGE_GROUP|VIC_SEX|            VIC_RACE|New Georeferenced Column|
+------------+----------+----------+---------+--------+-----------------+--------------------+-----------------------+--------------+--------+--------------------+-------------+-------+--------------------+------------------------+
|   227221494|04/21/2021|  17:14:00|   QUEENS|     105|                0|                null|                  false|           NaN|    null|                null|        18-24|      M|               BLACK|    POINT (-73.748024...|
|   225285872|03/07/2021|  06:05:00| BROOKLYN|      73|                0|MULTI DWELL - APT...|                  false|           NaN|    null|                null|        25-44|      M|      WHITE HISPANIC|    POINT (-73.906190...|
|   233172869|09/05/2021|  04:20:00|    BRONX|      47|                0|                null|                  false|           NaN|    null|                null|        45-64|      M|               BLACK|    POINT (-73.848764...|
|   228307361|05/17/2021|  16:47:00|    BRONX|      42|                0|                null|                  false|           <18|       M|               BLACK|          65+|      M|      BLACK HISPANIC|    POINT (-73.886392...|
|   223198985|01/16/2021|  12:39:00|MANHATTAN|      32|                0|MULTI DWELL - APT...|                  false|         18-24|       M|               BLACK|        25-44|      M|               BLACK|    POINT (-73.940100...|
|   230162225|06/27/2021|  05:40:00|MANHATTAN|      32|                0|                null|                  false|           NaN|    null|                null|        25-44|      M|               BLACK|    POINT (-73.939605...|
|   231941628|08/07/2021|  23:16:00|    BRONX|      44|                0|                null|                   true|         25-44|       M|               BLACK|        25-44|      M|               BLACK|    POINT (-73.926716...|
|   232291899|08/14/2021|  04:11:00|    BRONX|      46|                0|                null|                  false|           NaN|    null|                null|        25-44|      M|               BLACK|    POINT (-73.912359...|
|   231325837|07/24/2021|  21:57:00| BROOKLYN|      67|                0|   BEAUTY/NAIL SALON|                  false|         18-24|       F|               BLACK|        45-64|      M|               BLACK|    POINT (-73.942512...|
|   223872338|02/02/2021|  11:07:00| BROOKLYN|      77|                0|MULTI DWELL - APT...|                   true|           NaN|    null|                null|          65+|      M|               BLACK|    POINT (-73.951386...|
|   227127702|04/19/2021|  19:25:00|   QUEENS|     103|                0|      GROCERY/BODEGA|                  false|         18-24|       M|ASIAN / PACIFIC I...|        25-44|      M|      WHITE HISPANIC|    POINT (-73.776655...|
|   232887623|08/27/2021|  01:50:00|MANHATTAN|      34|                0|                null|                  false|           NaN|    null|                null|        25-44|      M|               BLACK|    POINT (-73.916815...|
|   226495968|04/04/2021|  07:13:00|MANHATTAN|      34|                0|                null|                  false|           NaN|    null|                null|        25-44|      M|      WHITE HISPANIC|    POINT (-73.918944...|
|   222990833|01/12/2021|  22:12:00| BROOKLYN|      69|                0|                null|                  false|         18-24|       M|               BLACK|        18-24|      M|               BLACK|    POINT (-73.897920...|
|   233253334|09/07/2021|  15:00:00| BROOKLYN|      76|                2|MULTI DWELL - PUB...|                  false|           NaN|    null|                null|        25-44|      M|               BLACK|    POINT (-74.002622...|
|   234070580|09/25/2021|  22:15:00| BROOKLYN|      76|                2|MULTI DWELL - PUB...|                  false|           NaN|    null|                null|        18-24|      M|               BLACK|    POINT (-73.986332...|
|   227950643|05/06/2021|  10:16:00| BROOKLYN|      81|                0|      GROCERY/BODEGA|                  false|         25-44|       M|               BLACK|        25-44|      M|      WHITE HISPANIC|    POINT (-73.930543...|
|   230508669|07/06/2021|  11:48:00|    BRONX|      40|                0|                null|                  false|           NaN|    null|                null|          <18|      M|      BLACK HISPANIC|    POINT (-73.918050...|
|   224950991|02/26/2021|  22:25:00| BROOKLYN|      73|                0|MULTI DWELL - APT...|                  false|           NaN|    null|                null|        18-24|      M|ASIAN / PACIFIC I...|    POINT (-73.918074...|
|   232592200|08/21/2021|  06:17:00|    BRONX|      42|                0|                null|                  false|           NaN|    null|                null|        25-44|      M|               BLACK|    POINT (-73.886248...|
+------------+----------+----------+---------+--------+-----------------+--------------------+-----------------------+--------------+--------+--------------------+-------------+-------+--------------------+------------------------+
only showing top 20 rows

In [ ]:
df.select('PERP_AGE_GROUP').distinct().show()

+--------------+
|PERP_AGE_GROUP|
+--------------+
|           <18|
|         25-44|
|           65+|
|           NaN|
|         18-24|
|         45-64|
+--------------+

In [ ]:
df.show(n=5)

+------------+----------+----------+---------+--------+-----------------+--------------------+-----------------------+--------------+--------+---------+-------------+-------+--------------+------------------------+
|INCIDENT_KEY|OCCUR_DATE|OCCUR_TIME|     BORO|PRECINCT|JURISDICTION_CODE|       LOCATION_DESC|STATISTICAL_MURDER_FLAG|PERP_AGE_GROUP|PERP_SEX|PERP_RACE|VIC_AGE_GROUP|VIC_SEX|      VIC_RACE|New Georeferenced Column|
+------------+----------+----------+---------+--------+-----------------+--------------------+-----------------------+--------------+--------+---------+-------------+-------+--------------+------------------------+
|   227221494|04/21/2021|  17:14:00|   QUEENS|     105|                0|                null|                  false|           NaN|    null|     null|        18-24|      M|         BLACK|    POINT (-73.748024...|
|   225285872|03/07/2021|  06:05:00| BROOKLYN|      73|                0|MULTI DWELL - APT...|                  false|           NaN|    null|     null|        25-44|      M|WHITE HISPANIC|    POINT (-73.906190...|
|   233172869|09/05/2021|  04:20:00|    BRONX|      47|                0|                null|                  false|           NaN|    null|     null|        45-64|      M|         BLACK|    POINT (-73.848764...|
|   228307361|05/17/2021|  16:47:00|    BRONX|      42|                0|                null|                  false|           <18|       M|    BLACK|          65+|      M|BLACK HISPANIC|    POINT (-73.886392...|
|   223198985|01/16/2021|  12:39:00|MANHATTAN|      32|                0|MULTI DWELL - APT...|                  false|         18-24|       M|    BLACK|        25-44|      M|         BLACK|    POINT (-73.940100...|
+------------+----------+----------+---------+--------+-----------------+--------------------+-----------------------+--------------+--------+---------+-------------+-------+--------------+------------------------+
only showing top 5 rows

In [ ]:
df.select('VIC_AGE_GROUP').distinct().show()

+-------------+
|VIC_AGE_GROUP|
+-------------+
|          <18|
|        25-44|
|      UNKNOWN|
|          65+|
|        18-24|
|        45-64|
+-------------+

#### There are many invalid age groups like negative values, unrealistically high age groups, etc.

#### Lets find all the invalid age groups and replace them with `NaN`

In [ ]:
valid_age_groups = ['<18','18-24','25-44','45-64','65+',np.NaN]
df = df.withColumn('VIC_AGE_GROUP', when(df.VIC_AGE_GROUP.isin(valid_age_groups), df.VIC_AGE_GROUP).otherwise(np.NaN))
df.show()

+------------+----------+----------+---------+--------+-----------------+--------------------+-----------------------+--------------+--------+--------------------+-------------+-------+--------------------+------------------------+
|INCIDENT_KEY|OCCUR_DATE|OCCUR_TIME|     BORO|PRECINCT|JURISDICTION_CODE|       LOCATION_DESC|STATISTICAL_MURDER_FLAG|PERP_AGE_GROUP|PERP_SEX|           PERP_RACE|VIC_AGE_GROUP|VIC_SEX|            VIC_RACE|New Georeferenced Column|
+------------+----------+----------+---------+--------+-----------------+--------------------+-----------------------+--------------+--------+--------------------+-------------+-------+--------------------+------------------------+
|   227221494|04/21/2021|  17:14:00|   QUEENS|     105|                0|                null|                  false|           NaN|    null|                null|        18-24|      M|               BLACK|    POINT (-73.748024...|
|   225285872|03/07/2021|  06:05:00| BROOKLYN|      73|                0|MULTI DWELL - APT...|                  false|           NaN|    null|                null|        25-44|      M|      WHITE HISPANIC|    POINT (-73.906190...|
|   233172869|09/05/2021|  04:20:00|    BRONX|      47|                0|                null|                  false|           NaN|    null|                null|        45-64|      M|               BLACK|    POINT (-73.848764...|
|   228307361|05/17/2021|  16:47:00|    BRONX|      42|                0|                null|                  false|           <18|       M|               BLACK|          65+|      M|      BLACK HISPANIC|    POINT (-73.886392...|
|   223198985|01/16/2021|  12:39:00|MANHATTAN|      32|                0|MULTI DWELL - APT...|                  false|         18-24|       M|               BLACK|        25-44|      M|               BLACK|    POINT (-73.940100...|
|   230162225|06/27/2021|  05:40:00|MANHATTAN|      32|                0|                null|                  false|           NaN|    null|                null|        25-44|      M|               BLACK|    POINT (-73.939605...|
|   231941628|08/07/2021|  23:16:00|    BRONX|      44|                0|                null|                   true|         25-44|       M|               BLACK|        25-44|      M|               BLACK|    POINT (-73.926716...|
|   232291899|08/14/2021|  04:11:00|    BRONX|      46|                0|                null|                  false|           NaN|    null|                null|        25-44|      M|               BLACK|    POINT (-73.912359...|
|   231325837|07/24/2021|  21:57:00| BROOKLYN|      67|                0|   BEAUTY/NAIL SALON|                  false|         18-24|       F|               BLACK|        45-64|      M|               BLACK|    POINT (-73.942512...|
|   223872338|02/02/2021|  11:07:00| BROOKLYN|      77|                0|MULTI DWELL - APT...|                   true|           NaN|    null|                null|          65+|      M|               BLACK|    POINT (-73.951386...|
|   227127702|04/19/2021|  19:25:00|   QUEENS|     103|                0|      GROCERY/BODEGA|                  false|         18-24|       M|ASIAN / PACIFIC I...|        25-44|      M|      WHITE HISPANIC|    POINT (-73.776655...|
|   232887623|08/27/2021|  01:50:00|MANHATTAN|      34|                0|                null|                  false|           NaN|    null|                null|        25-44|      M|               BLACK|    POINT (-73.916815...|
|   226495968|04/04/2021|  07:13:00|MANHATTAN|      34|                0|                null|                  false|           NaN|    null|                null|        25-44|      M|      WHITE HISPANIC|    POINT (-73.918944...|
|   222990833|01/12/2021|  22:12:00| BROOKLYN|      69|                0|                null|                  false|         18-24|       M|               BLACK|        18-24|      M|               BLACK|    POINT (-73.897920...|
|   233253334|09/07/2021|  15:00:00| BROOKLYN|      76|                2|MULTI DWELL - PUB...|                  false|           NaN|    null|                null|        25-44|      M|               BLACK|    POINT (-74.002622...|
|   234070580|09/25/2021|  22:15:00| BROOKLYN|      76|                2|MULTI DWELL - PUB...|                  false|           NaN|    null|                null|        18-24|      M|               BLACK|    POINT (-73.986332...|
|   227950643|05/06/2021|  10:16:00| BROOKLYN|      81|                0|      GROCERY/BODEGA|                  false|         25-44|       M|               BLACK|        25-44|      M|      WHITE HISPANIC|    POINT (-73.930543...|
|   230508669|07/06/2021|  11:48:00|    BRONX|      40|                0|                null|                  false|           NaN|    null|                null|          <18|      M|      BLACK HISPANIC|    POINT (-73.918050...|
|   224950991|02/26/2021|  22:25:00| BROOKLYN|      73|                0|MULTI DWELL - APT...|                  false|           NaN|    null|                null|        18-24|      M|ASIAN / PACIFIC I...|    POINT (-73.918074...|
|   232592200|08/21/2021|  06:17:00|    BRONX|      42|                0|                null|                  false|           NaN|    null|                null|        25-44|      M|               BLACK|    POINT (-73.886248...|
+------------+----------+----------+---------+--------+-----------------+--------------------+-----------------------+--------------+--------+--------------------+-------------+-------+--------------------+------------------------+
only showing top 20 rows

In [ ]:
df.select('VIC_AGE_GROUP').distinct().show()

+-------------+
|VIC_AGE_GROUP|
+-------------+
|          <18|
|        25-44|
|          65+|
|          NaN|
|        18-24|
|        45-64|
+-------------+

In [ ]:
df.show(n=5)

+------------+----------+----------+---------+--------+-----------------+--------------------+-----------------------+--------------+--------+---------+-------------+-------+--------------+------------------------+
|INCIDENT_KEY|OCCUR_DATE|OCCUR_TIME|     BORO|PRECINCT|JURISDICTION_CODE|       LOCATION_DESC|STATISTICAL_MURDER_FLAG|PERP_AGE_GROUP|PERP_SEX|PERP_RACE|VIC_AGE_GROUP|VIC_SEX|      VIC_RACE|New Georeferenced Column|
+------------+----------+----------+---------+--------+-----------------+--------------------+-----------------------+--------------+--------+---------+-------------+-------+--------------+------------------------+
|   227221494|04/21/2021|  17:14:00|   QUEENS|     105|                0|                null|                  false|           NaN|    null|     null|        18-24|      M|         BLACK|    POINT (-73.748024...|
|   225285872|03/07/2021|  06:05:00| BROOKLYN|      73|                0|MULTI DWELL - APT...|                  false|           NaN|    null|     null|        25-44|      M|WHITE HISPANIC|    POINT (-73.906190...|
|   233172869|09/05/2021|  04:20:00|    BRONX|      47|                0|                null|                  false|           NaN|    null|     null|        45-64|      M|         BLACK|    POINT (-73.848764...|
|   228307361|05/17/2021|  16:47:00|    BRONX|      42|                0|                null|                  false|           <18|       M|    BLACK|          65+|      M|BLACK HISPANIC|    POINT (-73.886392...|
|   223198985|01/16/2021|  12:39:00|MANHATTAN|      32|                0|MULTI DWELL - APT...|                  false|         18-24|       M|    BLACK|        25-44|      M|         BLACK|    POINT (-73.940100...|
+------------+----------+----------+---------+--------+-----------------+--------------------+-----------------------+--------------+--------+---------+-------------+-------+--------------+------------------------+
only showing top 5 rows

### Check for Race Values

In [ ]:
df.select('PERP_RACE').distinct().show()

+--------------------+
|           PERP_RACE|
+--------------------+
|               WHITE|
|               BLACK|
|                null|
|      BLACK HISPANIC|
|      WHITE HISPANIC|
|ASIAN / PACIFIC I...|
+--------------------+

#### Replace all `UNKNOWN` values with `NaN`

In [ ]:
from pyspark.sql.functions import regexp_replace

df = df.withColumn("PERP_RACE",
  regexp_replace("PERP_RACE", "UNKNOWN", "NaN"))

In [ ]:
df.show(100)

+------------+----------+----------+-------------+--------+-----------------+--------------------+-----------------------+--------------+--------+--------------------+-------------+-------+--------------------+------------------------+
|INCIDENT_KEY|OCCUR_DATE|OCCUR_TIME|         BORO|PRECINCT|JURISDICTION_CODE|       LOCATION_DESC|STATISTICAL_MURDER_FLAG|PERP_AGE_GROUP|PERP_SEX|           PERP_RACE|VIC_AGE_GROUP|VIC_SEX|            VIC_RACE|New Georeferenced Column|
+------------+----------+----------+-------------+--------+-----------------+--------------------+-----------------------+--------------+--------+--------------------+-------------+-------+--------------------+------------------------+
|   227221494|04/21/2021|  17:14:00|       QUEENS|     105|                0|                null|                  false|           NaN|    null|                null|        18-24|      M|               BLACK|    POINT (-73.748024...|
|   225285872|03/07/2021|  06:05:00|     BROOKLYN|      73|                0|MULTI DWELL - APT...|                  false|           NaN|    null|                null|        25-44|      M|      WHITE HISPANIC|    POINT (-73.906190...|
|   233172869|09/05/2021|  04:20:00|        BRONX|      47|                0|                null|                  false|           NaN|    null|                null|        45-64|      M|               BLACK|    POINT (-73.848764...|
|   228307361|05/17/2021|  16:47:00|        BRONX|      42|                0|                null|                  false|           <18|       M|               BLACK|          65+|      M|      BLACK HISPANIC|    POINT (-73.886392...|
|   223198985|01/16/2021|  12:39:00|    MANHATTAN|      32|                0|MULTI DWELL - APT...|                  false|         18-24|       M|               BLACK|        25-44|      M|               BLACK|    POINT (-73.940100...|
|   230162225|06/27/2021|  05:40:00|    MANHATTAN|      32|                0|                null|                  false|           NaN|    null|                null|        25-44|      M|               BLACK|    POINT (-73.939605...|
|   231941628|08/07/2021|  23:16:00|        BRONX|      44|                0|                null|                   true|         25-44|       M|               BLACK|        25-44|      M|               BLACK|    POINT (-73.926716...|
|   232291899|08/14/2021|  04:11:00|        BRONX|      46|                0|                null|                  false|           NaN|    null|                null|        25-44|      M|               BLACK|    POINT (-73.912359...|
|   231325837|07/24/2021|  21:57:00|     BROOKLYN|      67|                0|   BEAUTY/NAIL SALON|                  false|         18-24|       F|               BLACK|        45-64|      M|               BLACK|    POINT (-73.942512...|
|   223872338|02/02/2021|  11:07:00|     BROOKLYN|      77|                0|MULTI DWELL - APT...|                   true|           NaN|    null|                null|          65+|      M|               BLACK|    POINT (-73.951386...|
|   227127702|04/19/2021|  19:25:00|       QUEENS|     103|                0|      GROCERY/BODEGA|                  false|         18-24|       M|ASIAN / PACIFIC I...|        25-44|      M|      WHITE HISPANIC|    POINT (-73.776655...|
|   232887623|08/27/2021|  01:50:00|    MANHATTAN|      34|                0|                null|                  false|           NaN|    null|                null|        25-44|      M|               BLACK|    POINT (-73.916815...|
|   226495968|04/04/2021|  07:13:00|    MANHATTAN|      34|                0|                null|                  false|           NaN|    null|                null|        25-44|      M|      WHITE HISPANIC|    POINT (-73.918944...|
|   222990833|01/12/2021|  22:12:00|     BROOKLYN|      69|                0|                null|                  false|         18-24|       M|               BLACK|        18-24|      M|               BLACK|    POINT (-73.897920...|
|   233253334|09/07/2021|  15:00:00|     BROOKLYN|      76|                2|MULTI DWELL - PUB...|                  false|           NaN|    null|                null|        25-44|      M|               BLACK|    POINT (-74.002622...|
|   234070580|09/25/2021|  22:15:00|     BROOKLYN|      76|                2|MULTI DWELL - PUB...|                  false|           NaN|    null|                null|        18-24|      M|               BLACK|    POINT (-73.986332...|
|   227950643|05/06/2021|  10:16:00|     BROOKLYN|      81|                0|      GROCERY/BODEGA|                  false|         25-44|       M|               BLACK|        25-44|      M|      WHITE HISPANIC|    POINT (-73.930543...|
|   230508669|07/06/2021|  11:48:00|        BRONX|      40|                0|                null|                  false|           NaN|    null|                null|          <18|      M|      BLACK HISPANIC|    POINT (-73.918050...|
|   224950991|02/26/2021|  22:25:00|     BROOKLYN|      73|                0|MULTI DWELL - APT...|                  false|           NaN|    null|                null|        18-24|      M|ASIAN / PACIFIC I...|    POINT (-73.918074...|
|   232592200|08/21/2021|  06:17:00|        BRONX|      42|                0|                null|                  false|           NaN|    null|                null|        25-44|      M|               BLACK|    POINT (-73.886248...|
|   230815780|07/14/2021|  02:11:00|       QUEENS|     103|                0|                null|                  false|         25-44|       M|               BLACK|        25-44|      M|               BLACK|    POINT (-73.811581...|
|   231633081|07/30/2021|  23:02:00|STATEN ISLAND|     121|                0|           PVT HOUSE|                  false|         25-44|       M|               BLACK|          <18|      M|               BLACK|    POINT (-74.160468...|
|   225909568|03/20/2021|  00:19:00|    MANHATTAN|      34|                0|                null|                  false|           NaN|    null|                null|        25-44|      M|      WHITE HISPANIC|    POINT (-73.926571...|
|   228307052|05/17/2021|  00:43:00|     BROOKLYN|      67|                0|                null|                   true|         25-44|       M|               BLACK|        25-44|      M|               BLACK|    POINT (-73.917230...|
|   231512062|07/28/2021|  13:10:00|       QUEENS|     101|                0|                null|                  false|           NaN|    null|                null|        25-44|      M|               WHITE|    POINT (-73.751170...|
|   225725570|03/16/2021|  03:53:00|        BRONX|      46|                0|                null|                  false|         25-44|       M|      WHITE HISPANIC|        45-64|      M|               BLACK|    POINT (-73.904024...|
|   226204063|03/27/2021|  19:30:00|    MANHATTAN|       7|                0|                null|                  false|           <18|       M|               BLACK|          <18|      M|      WHITE HISPANIC|    POINT (-73.978909...|
|   232623736|08/23/2021|  17:40:00|    MANHATTAN|      14|                0|                null|                  false|         25-44|       M|               BLACK|        45-64|      M|               WHITE|    POINT (-73.992007...|
|   227730192|05/04/2021|  15:00:00|        BRONX|      41|                0|                null|                  false|           NaN|    null|                null|        18-24|      M|      WHITE HISPANIC|    POINT (-73.895873...|
|   223928178|02/03/2021|  21:45:00|        BRONX|      40|                2|MULTI DWELL - PUB...|                   true|         18-24|       M|               BLACK|        25-44|      M|               BLACK|    POINT (-73.916477...|
|   229164957|06/06/2021|  01:53:00|        BRONX|      44|                0|                null|                  false|         45-64|       M|      WHITE HISPANIC|        25-44|      M|               BLACK|    POINT (-73.916431...|
|   229493100|06/11/2021|  16:29:00|     BROOKLYN|      72|                0|                null|                  false|           <18|       M|      WHITE HISPANIC|        18-24|      M|      WHITE HISPANIC|    POINT (-74.006887...|
|   229643172|06/16/2021|  23:22:00|        BRONX|      52|                0|                null|                   true|         18-24|       M|      WHITE HISPANIC|        25-44|      M|               BLACK|    POINT (-73.891313...|
|   225601140|03/13/2021|  03:50:00|     BROOKLYN|      90|                0|      BAR/NIGHT CLUB|                  false|         18-24|       M|      BLACK HISPANIC|        18-24|      F|      WHITE HISPANIC|    POINT (-73.936161...|
|   228679850|05/25/2021|  20:20:00|        BRONX|      42|                0|                null|                  false|         18-24|       M|      BLACK HISPANIC|        18-24|      M|      WHITE HISPANIC|    POINT (-73.893376...|
|   231631686|07/31/2021|  22:40:00|     BROOKLYN|      75|                0|                null|                  false|         25-44|       M|               BLACK|        25-44|      M|      WHITE HISPANIC|    POINT (-73.871603...|
|   230805643|07/13/2021|  20:00:00|     BROOKLYN|      75|                0|                null|                  false|           NaN|    null|                null|        18-24|      M|               BLACK|    POINT (-73.876567...|
|   228049709|05/11/2021|  16:54:00|     BROOKLYN|      77|                0|                null|                  false|         18-24|       M|               BLACK|          <18|      M|               BLACK|    POINT (-73.923691...|
|   230713945|07/10/2021|  08:54:00|        BRONX|      40|                0|                null|                  false|         18-24|       M|               BLACK|          <18|      M|               BLACK|    POINT (-73.909330...|
|   233897874|09/22/2021|  03:30:00|        BRONX|      46|                0|                null|                  false|           NaN|    null|                null|        18-24|      M|               BLACK|    POINT (-73.900576...|
|   232444800|08/18/2021|  20:21:00|     BROOKLYN|      77|                2|MULTI DWELL - PUB...|                   true|           NaN|    null|                null|          <18|      M|               BLACK|    POINT (-73.926713...|
|   224353207|02/13/2021|  02:18:00|        BRONX|      50|                0|                null|                  false|           NaN|    null|                null|        18-24|      M|      WHITE HISPANIC|    POINT (-73.902889...|
|   231965179|08/08/2021|  00:30:00|     BROOKLYN|      75|                0|                null|                   true|           NaN|    null|                null|        45-64|      M|               BLACK|    POINT (-73.888780...|
|   232924796|08/30/2021|  17:37:00|        BRONX|      41|                0|                null|                  false|           NaN|    null|                null|        18-24|      M|               BLACK|    POINT (-73.889681...|
|   226542152|04/05/2021|  22:10:00|        BRONX|      44|                2|MULTI DWELL - PUB...|                  false|           NaN|    null|                null|        25-44|      F|               BLACK|    POINT (-73.928667...|
|   233080845|09/02/2021|  17:42:00|        BRONX|      41|                0|                null|                  false|         18-24|       M|               BLACK|        18-24|      M|               BLACK|    POINT (-73.890330...|
|   232946699|08/31/2021|  00:40:00|       QUEENS|     101|                0|                null|                  false|           NaN|    null|                null|        25-44|      M|               BLACK|    POINT (-73.750117...|
|   227730194|05/04/2021|  23:38:00|        BRONX|      44|                0|                null|                  false|           NaN|    null|                null|          <18|      M|               BLACK|    POINT (-73.918309...|
|   228798149|05/27/2021|  15:09:00|    MANHATTAN|      23|                0|                null|                  false|           <18|       M|      BLACK HISPANIC|          <18|      M|      BLACK HISPANIC|    POINT (-73.942210...|
|   230412254|07/03/2021|  22:03:00|    MANHATTAN|      23|                0|                null|                  false|           NaN|    null|                null|        18-24|      M|               BLACK|    POINT (-73.947646...|
|   224969506|02/26/2021|  00:46:00|       QUEENS|     102|                0|                null|                   true|           NaN|    null|                null|        25-44|      M|               BLACK|    POINT (-73.855294...|
|   231390983|07/26/2021|  20:15:00|     BROOKLYN|      79|                0|                null|                  false|           NaN|    null|                null|        25-44|      M|               BLACK|    POINT (-73.948674...|
|   229034050|06/02/2021|  04:30:00|       QUEENS|     113|                0|                null|                  false|           NaN|    null|                null|        25-44|      M|               BLACK|    POINT (-73.758981...|
|   230562012|07/07/2021|  16:20:00|       QUEENS|     110|                0|                null|                   true|         18-24|       M|               WHITE|          <18|      M|      WHITE HISPANIC|    POINT (-73.869605...|
|   232264784|08/13/2021|  15:50:00|     BROOKLYN|      83|                0|                null|                  false|           NaN|    null|                null|        25-44|      M|      WHITE HISPANIC|    POINT (-73.907324...|
|   224119135|02/08/2021|  14:39:00|     BROOKLYN|      67|                0|MULTI DWELL - APT...|                  false|           NaN|    null|                null|        25-44|      M|               BLACK|    POINT (-73.943903...|
|   230162216|06/25/2021|  14:33:00|        BRONX|      46|                0|                null|                  false|         25-44|       M|      BLACK HISPANIC|        25-44|      M|      WHITE HISPANIC|    POINT (-73.902377...|
|   222890075|01/10/2021|  19:46:00|     BROOKLYN|      75|                2|MULTI DWELL - PUB...|                   true|           NaN|    null|                null|          <18|      M|               BLACK|    POINT (-73.886184...|
|   224520344|02/17/2021|  17:15:00|     BROOKLYN|      67|                0|                null|                  false|         18-24|       M|               BLACK|        25-44|      M|               BLACK|    POINT (-73.925952...|
|   228559113|05/22/2021|  23:48:00|        BRONX|      42|                0|                null|                  false|           NaN|    null|                null|        18-24|      M|      BLACK HISPANIC|    POINT (-73.904162...|
|   233468972|09/13/2021|  00:35:00|    MANHATTAN|      32|                0|                null|                   true|           NaN|    null|                null|        18-24|      M|               BLACK|    POINT (-73.938154...|
|   225621192|03/14/2021|  19:00:00|        BRONX|      47|                0|MULTI DWELL - APT...|                  false|           NaN|    null|                null|          <18|      M|               BLACK|    POINT (-73.866141...|
|   227730193|05/04/2021|  21:13:00|     BROOKLYN|      73|                0|                null|                  false|           NaN|    null|                null|        25-44|      M|               BLACK|    POINT (-73.910944...|
|   227551204|04/29/2021|  19:30:00|     BROOKLYN|      90|                0|    RESTAURANT/DINER|                  false|         18-24|       M|               BLACK|        25-44|      M|               WHITE|    POINT (-73.961753...|
|   230196723|06/28/2021|  22:01:00|        BRONX|      52|                0|                null|                  false|           NaN|    null|                null|        25-44|      M|               BLACK|    POINT (-73.878781...|
|   225934384|03/15/2021|  18:20:00|        BRONX|      46|                0|                null|                  false|           <18|       M|      WHITE HISPANIC|        18-24|      M|               BLACK|    POINT (-73.921411...|
|   228062046|05/12/2021|  04:53:00|        BRONX|      46|                0|MULTI DWELL - APT...|                  false|           NaN|    null|                null|        45-64|      M|               BLACK|    POINT (-73.917195...|
|   234143776|09/27/2021|  03:50:00|    MANHATTAN|      34|                0|                null|                  false|         25-44|       M|      BLACK HISPANIC|        25-44|      M|      BLACK HISPANIC|    POINT (-73.916815...|
|   231436704|07/26/2021|  20:38:00|    MANHATTAN|      30|                0|                null|                  false|           NaN|    null|                null|        45-64|      F|      BLACK HISPANIC|    POINT (-73.944838...|
|   232632360|08/23/2021|  22:25:00|        BRONX|      40|                0|                null|                   true|         25-44|       M|ASIAN / PACIFIC I...|        25-44|      M|               BLACK|    POINT (-73.915014...|
|   232497425|08/19/2021|  13:49:00|     BROOKLYN|      69|                0|                null|                  false|         25-44|       M|               BLACK|        18-24|      M|               BLACK|    POINT (-73.888137...|
|   227401020|04/27/2021|  00:40:00|    MANHATTAN|      28|                0|                null|                  false|           NaN|    null|                null|        45-64|      M|               BLACK|    POINT (-73.951844...|
|   233307769|09/08/2021|  23:48:00|        BRONX|      46|                0|                null|                  false|         25-44|       M|      BLACK HISPANIC|        18-24|      M|               BLACK|    POINT (-73.900591...|
|   231965060|08/07/2021|  23:18:00|     BROOKLYN|      75|                0|                null|                  false|         18-24|       M|               BLACK|        25-44|      M|               BLACK|    POINT (-73.893465...|
|   230448650|07/04/2021|  18:20:00|        BRONX|      41|                0|                null|                  false|           NaN|    null|                null|        25-44|      M|               BLACK|    POINT (-73.888855...|
|   232264785|08/13/2021|  16:10:00|        BRONX|      44|                0|                null|                  false|           NaN|    null|                null|        25-44|      M|               BLACK|    POINT (-73.919457...|
|   231351984|07/24/2021|  02:46:00|       QUEENS|     103|                0|                null|                   true|         18-24|       M|      WHITE HISPANIC|        18-24|      M|      BLACK HISPANIC|    POINT (-73.801603...|
|   226654026|04/07/2021|  02:07:00|    MANHATTAN|      14|                0|                null|                  false|         18-24|       M|               BLACK|        25-44|      M|               WHITE|    POINT (-73.991634...|
|   227174349|04/20/2021|  22:53:00|    MANHATTAN|      26|                0|                null|                  false|           NaN|    null|                null|        25-44|      M|               BLACK|    POINT (-73.956284...|
|   233429422|09/11/2021|  15:13:00|     BROOKLYN|      73|                0|                null|                  false|           NaN|    null|                null|        25-44|      M|               BLACK|    POINT (-73.920247...|
|   226542152|04/05/2021|  22:10:00|        BRONX|      44|                2|MULTI DWELL - PUB...|                  false|           NaN|    null|                null|        45-64|      M|               BLACK|    POINT (-73.928667...|

In [ ]:
df.select('PERP_RACE').distinct().show()

+--------------------+
|           PERP_RACE|
+--------------------+
|               WHITE|
|               BLACK|
|                null|
|      BLACK HISPANIC|
|      WHITE HISPANIC|
|ASIAN / PACIFIC I...|
+--------------------+

In [ ]:
df.select('VIC_RACE').distinct().show()

+--------------------+
|            VIC_RACE|
+--------------------+
|               WHITE|
|               BLACK|
|      BLACK HISPANIC|
|      WHITE HISPANIC|
|             UNKNOWN|
|ASIAN / PACIFIC I...|
+--------------------+

In [ ]:
from pyspark.sql.functions import regexp_replace

df = df.withColumn("VIC_RACE",
  regexp_replace("VIC_RACE", "UNKNOWN", "NaN"))

In [ ]:
df.select('VIC_RACE').distinct().show()

+--------------------+
|            VIC_RACE|
+--------------------+
|               WHITE|
|               BLACK|
|      BLACK HISPANIC|
|      WHITE HISPANIC|
|                 NaN|
|ASIAN / PACIFIC I...|
+--------------------+

### Checks for Suspect & Victim Sex

In [ ]:
df.select('PERP_SEX').distinct().show()

+--------+
|PERP_SEX|
+--------+
|       F|
|    null|
|       M|
+--------+

#### Checking values in suspect sex

In [ ]:
df.groupBy('PERP_SEX').count().orderBy('count', ascending=False).show()

+--------+-----+
|PERP_SEX|count|
+--------+-----+
|    null|  811|
|       M|  696|
|       F|   24|
+--------+-----+

In [ ]:
df.select('VIC_SEX').distinct().show()

+-------+
|VIC_SEX|
+-------+
|      F|
|      M|
|      U|
+-------+

In [ ]:
df.groupBy('VIC_SEX').count().orderBy('count', ascending=False).show()

+-------+-----+
|VIC_SEX|count|
+-------+-----+
|      M| 1369|
|      F|  161|
|      U|    1|
+-------+-----+

In [ ]:
amount_missing_df = df.select([(count(when(isnan(c) | col(c).isNull(), c))/count(lit(1))).alias(c) for c in df.columns])
amount_missing_df.show()

#### Thus, we can see that the percentage of null values per variable has gone considerably down after cleaning. Some variables like 'PARKS_NM', 'HADEVELOPT' and such can have null values as established above.

JURISDICTION wise count

In [ ]:
df.groupBy('LOCATION_DESC').count().show()

+--------------------+-----+
|       LOCATION_DESC|count|
+--------------------+-----+
|     COMMERCIAL BLDG|   28|
|            HOSPITAL|    7|
|           FAST FOOD|    1|
|                BANK|    2|
|      GROCERY/BODEGA|   38|
|         GAS STATION|    8|
|MULTI DWELL - PUB...|  250|
|          DEPT STORE|    4|
|    RESTAURANT/DINER|    6|
|         HOTEL/MOTEL|    7|
|           PVT HOUSE|   16|
|      BAR/NIGHT CLUB|   15|
|MULTI DWELL - APT...|   99|
|   BEAUTY/NAIL SALON|    5|
|                null| 1045|
+--------------------+-----+

### Number of columns in Clean Data

In [ ]:
len(df.columns)

15

### Number of rows in Clean Data

In [ ]:
df.count()

1531

In [ ]:
df.printSchema()

root
 |-- INCIDENT_KEY: integer (nullable = true)
 |-- OCCUR_DATE: string (nullable = true)
 |-- OCCUR_TIME: string (nullable = true)
 |-- BORO: string (nullable = true)
 |-- PRECINCT: integer (nullable = true)
 |-- JURISDICTION_CODE: integer (nullable = true)
 |-- LOCATION_DESC: string (nullable = true)
 |-- STATISTICAL_MURDER_FLAG: boolean (nullable = true)
 |-- PERP_AGE_GROUP: string (nullable = true)
 |-- PERP_SEX: string (nullable = true)
 |-- PERP_RACE: string (nullable = true)
 |-- VIC_AGE_GROUP: string (nullable = true)
 |-- VIC_SEX: string (nullable = true)
 |-- VIC_RACE: string (nullable = true)
 |-- New Georeferenced Column: string (nullable = true)

### **Exporting Clean Data in CSV**

The Cleaned Data Set will be saved as `NYPD_Complaint_Data_Historic_Cleaned.csv`

In [ ]:
pd_df = df.toPandas()
pd_df.to_csv("NYPD_Complaint_Data_Historic_Cleaned_Spark.csv")